{% extends 'services/layout.html' %}
{% block content %}
<p>&lt;- <a href="/">back to services</a></p>
<h2>Service details</h2>
<table class="table 
{% if service.enabled_toggle %}
    {% if service.poll_set.last.status_code == 200 %}table-success
    {% else %}table-danger
    {% endif %}
{% else %}table-secondary
{% endif %}
 table-striped">
    <tr>
        <th>Service</th>
        <td>{{ service.name_text }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ service.description_text }}</td>
    </tr>
    <tr>
        <td colspan="2"><a href="{{ service.url_text }}">{{ service.url_text }}</a></td>
    </tr>
    <tr>
        <th>Monitoring</th>
        <td>{% if service.enabled_toggle %}enabled{% else %}disabled{% endif %}</td>
    </tr>
    <tr>
        <th>TLS monitoring</th>
        <td>{% if service.tls_toggle %}en{% else %}dis{% endif %}abled</td>
    </tr>
</table>
{% if service.poll_set %}
<hr/>
<p><b>Latest polls</b></p>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
{% for poll in service.poll_set.all %}
    <tr>
        <td>{{ poll.poll_date }}</td>
        <td {% if poll.status_code == 200 %}class="table-success"{% else %}class="table-danger"{% endif %}>{{ poll.status_code }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<h2>Never polled</h2>
{% endif %}
{% endblock %}