{% extends 'services/layout.html' %}
{% block head %}
<meta http-equiv="refresh" content="300;">
{% endblock %}
{% block content %}
<h2>Services</h2>
{% if service_list %}
    <ul class="list-group">
    {% for service in service_list %}
        {% if service.enabled_toggle %}
        <li class="list-group-item d-flex justify-content-between align-items-start
        {% if service.poll_set.first.status_code == 200 %}list-group-item-success
        {% elif service.poll_set.first.status_code == 0 %}list-group-item-danger
        {% else %}list-group-item-warning{% endif %}">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="{% url 'service:detail' service.id %}">{{ service.name_text }}</a></div>
              {% if service.poll_set.first.status_code == 200 %}online{% else %}offline{% endif %} as of {{ service.poll_set.last.poll_date }}
              </div>
              <span class="badge text-bg-primary rounded-pill">{{ service.poll_set.first.status_code }}</span>
        </li>
        {% else %}
        <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="{% url 'service:detail' service.id %}">{{ service.name_text }}</a></div>
                {{ service.name_text }} is disabled, but was last polled {{ service.poll_set.last.poll_date }}
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}
<hr/>
<p>Manage services in the admin backend.</p>
{% endblock %}